@model IEnumerable<AlphaNet.PassagemAerea.Aplicacao.Avioes.Data.AviaoData>
@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Lista de Aviões</h1>
            </hgroup>
           
                <nav>
                    <ul id="menu02">
                        <li><a href="@Url.Action("Novo", "Aviao")"><img src="~/Content/themes/base/images/novo_aviao.png" id="bt-novo-aviao"/></a></li>
                    </ul>
                </nav>

             <p>
               
            </p>
                @if (Model != null) {
                    <table>
                        <caption> Lista de Aviões Cadastrados</caption>
                        <tr> <th>Modelo</th><th>Assentos</th><th>Editar</th><th>Excluir</th></tr>
                        @foreach(var aviao in Model)
                        {            
                            <tr>    
                              
                                <td>@aviao.modelo</td>
                                <td>@aviao.assentos</td>
                                  <td><a href="@Url.Action("Editar",new {aviaoId = aviao.aviaoId})"><img src="~/Content/themes/base/images/editar.png" Alt="Editar" id="bt-editar"/></a></td>
                                <td><a href="@Url.Action("Excluir",new {aviaoId = aviao.aviaoId})"><img src="~/Content/themes/base/images/excluir.png" id="bt-excluir"/></a></td>
                            </tr>        
                        }
                    </table>
                }
        </div>
    </section>
</div>
