@model IEnumerable<AlphaNet.PassagemAerea.Aplicacao.Clientes.Data.ClienteData>

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Lista de Clientes</h1>
            </hgroup>
            <p>
                Lista de Clientes Cadastrados
            </p>
                <nav>
                    <ul id="menu02">
                      @*  <li>@Html.ActionLink("Novo Cliente","Novo", "Cliente")</li> *@

                        <li><a href="@Url.Action("Novo", "Cliente")"><img src="~/Content/themes/base/images/novo_cliente.png" id="bt-novo-cliente"/></a></li>
                    </ul>
                </nav>
                @if (Model != null) {
                    <table>
                        @foreach(var cliente in Model)
                        {     
                            @* VERIFICAR CÓDIGO - MANDA PARA A URL http://localhost:51788/Views/Cliente/Index.cshtml*@       
                            <tr>    
                               <td><a href="@Url.Action("Editar",new {clienteId = cliente.clienteId})"><img src="~/Content/themes/base/images/editar.png" id="bt-editar"/></a> </td>                               
                                <td><a href="@Url.Action("Excluir",new {clienteId = cliente.clienteId})"><img src="~/Content/themes/base/images/excluir.png" id="bt-excluir"/></a></td>                             
                                <td>@cliente.nome</td>
                                <td>@cliente.email</td>
                            </tr>        
                        }
                    </table>
                }
        </div>
    </section>
</div>
