@model IEnumerable<AlphaNet.PassagemAerea.Aplicacao.Clientes.Data.ClienteData>
@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
                 <div id="conteudo">
                <div id="conteudo-central">
            <hgroup class="title">
                <h1>Lista de Clientes</h1>
            </hgroup>
         
                <nav>
                    <ul id="menu02">
                      @*  <li>@Html.ActionLink("Novo Cliente","Novo", "Cliente")</li> *@

                        <li><a href="@Url.Action("Novo", "Cliente")"><img src="~/Content/themes/base/images/novo_cliente.png" id="bt-novo-cliente"/></a></li>
                    </ul>
                </nav>
                @if (Model != null) {
                    <table>
                        <caption>Lista de Clientes Cadastrados</caption>
                        <tr> <th>Nome</th><th>E-mail</th><th>Editar</th><th>Excluir</th></tr>
                        @foreach(var cliente in Model)
                        {     
                       
                            <tr>                                  
                                <td>@cliente.nome</td>
                                <td>@cliente.email</td>
                                <td><a href="@Url.Action("Editar",new {clienteId = cliente.clienteId})"><img src="~/Content/themes/base/images/editar.png" id="bt-editar"/></a> </td>                               
                                <td><a href="@Url.Action("Excluir",new {clienteId = cliente.clienteId})"><img src="~/Content/themes/base/images/excluir.png" id="bt-excluir"/></a></td>                             
                            </tr>        
                        }
                    </table>
                }

                </div>
             </div>
        </div>
    </section>
</div>
