@model IU.Models.CidadeData
@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

@using (Html.BeginForm("Salvar","Cidade")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Cadastro de Cidade</legend>
        <div id="body">
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                   
                    </hgroup>         
                        <input type="hidden" name="cidadeId" value="@Model.cidadeId"/>
                        @Html.LabelFor(model => model.nome)
                        @Html.EditorFor(model => model.nome)
                        @Html.ValidationMessageFor(model => model.nome)
                        <br>
                        @Html.LabelFor(model => model.cep)
                        @Html.EditorFor(model => model.cep)
                        @Html.ValidationMessageFor(model => model.cep)
                       <p> <input type="submit" value="Salvar" /></p>
                     <a href="@Url.Action("Index","Cidade")"><img src="~/Content/themes/base/images/voltar.png" id="bt-voltar" /></a>  
                </div>
            </section>
        </div>

    </fieldset>
}
