@model IEnumerable<AlphaNet.PassagemAerea.Aplicacao.Cidades.Data.CidadeData>
@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Lista de Cidades</h1>
            </hgroup>
            <p>
                Lista de Cidades Cadastrados
            </p>
                <nav>
                    <ul id="menu02">
                        <li>@Html.ActionLink("Nova Cidade","Nova", "Cidade")</li>
                    </ul>
                </nav>
                @if (Model != null) {
                    <table>
                        @foreach(var cidade in Model)
                        {            
                            <tr>    
                                <td>@Html.ActionLink("editar","Editar",new {cidadeId = cidade.cidadeId})</td>
                                <td>@Html.ActionLink("excluir","Excluir",new {cidadeId = cidade.cidadeId})</td>
                                <td>@cidade.nome</td>
                                <td>@cidade.cep</td>
                            </tr>        
                        }
                    </table>
                }
        </div>
    </section>
</div>
