@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Voo</h1>
            </hgroup>
           
            <form method="post" action="Salvar">
                <fieldset>
                    <legend>Cadastro de Voo</legend>
              <p>  @Html.Label("Partida: ")
                <input type="text" name="partida" value="@Model.partida"/></p>

              <p> @Html.Label("Preço: ")
                <input type="text" name="preco" value="@Model.preco"/></p>

              <p>@Html.Label("Origem:")
                @Html.DropDownList(
                    "cidadeOrigemId", 
                    new SelectList(
                        ViewBag.cidades, 
                        "cidadeId", 
                        "nome"))</p>  

              <p>  @Html.Label("Destino:")
                @Html.DropDownList(
                    "cidadeDestinoId", 
                    new SelectList(
                        ViewBag.cidades, 
                        "cidadeId", 
                        "nome"))</p>

              <p>  @Html.Label("Avião:")
                @Html.DropDownList(
                    "aviaoId", 
                    new SelectList(
                        ViewBag.avioes, 
                        "aviaoId", 
                        "modelo"))</p>

               <p><input type="submit" value="Salvar" /></p> 
                    </fieldset>
            </form>
        </div>
    </section>
</div>
