@model IU.Models.VooData
@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Voo</h1>
            </hgroup>
           
            <form method="post" action="Salvar">
                <fieldset>
                    <legend>Cadastro de Voo</legend>
                @Html.LabelFor(model => model.partida)
                @Html.EditorFor(model => model.partida)
                @Html.ValidationMessageFor(model => model.partida)
                <br>
                @Html.LabelFor(model => model.preco)
                @Html.EditorFor(model => model.preco)
                @Html.ValidationMessageFor(model => model.preco)
                <br>

              <p>@Html.Label("Origem:")
                @Html.DropDownList(
                    "cidadeOrigemId", 
                    new SelectList(
                        ViewBag.cidades, 
                        "cidadeId", 
                        "nome"))</p>  

              <p>  @Html.Label("Destino:")
                @Html.DropDownList(
                    "cidadeDestinoId", 
                    new SelectList(
                        ViewBag.cidades, 
                        "cidadeId", 
                        "nome"))</p>

              <p>  @Html.Label("Avião:")
                @Html.DropDownList(
                    "aviaoId", 
                    new SelectList(
                        ViewBag.avioes, 
                        "aviaoId", 
                        "modelo"))</p>

               <p><input type="submit" value="Salvar" /></p> 
                    </fieldset>
            </form>
             <a href="@Url.Action("Index","Voo")"><img src="~/Content/themes/base/images/voltar.png" id="bt-voltar" /></a>  
        </div>
    </section>
</div>
