<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Aviao</h1>
            </hgroup>
            <p>
                Voos
            </p>
            <form method="post" action="Salvar">
                @Html.Label("Partida")
                <input type="text" name="partida" value="@Model.partida"/>
                @Html.Label("Preço")
                <input type="text" name="preco" value="@Model.preco"/>
                @Html.Label("Origem")
                @Html.DropDownList(
                    "cidadeOrigemId", 
                    new SelectList(
                        ViewBag.cidades, 
                        "cidadeId", 
                        "nome"))

                @Html.Label("Destino")
                @Html.DropDownList(
                    "cidadeDestinoId", 
                    new SelectList(
                        ViewBag.cidades, 
                        "cidadeId", 
                        "nome"))

                @Html.Label("Avião")
                @Html.DropDownList(
                    "aviaoId", 
                    new SelectList(
                        ViewBag.avioes, 
                        "aviaoId", 
                        "modelo"))

                <br><input type="submit" value="Salvar" />
            </form>
        </div>
    </section>
</div>
