@model IEnumerable<AlphaNet.PassagemAerea.Aplicacao.Voos.Data.VooData>

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Lista de Voos</h1>
            </hgroup>
            <p>
                Lista de Voos
            </p>
                <nav>
                    <ul id="menu02">
                        <li>@Html.ActionLink("Novo Voo","Novo", "Voo")</li>
                    </ul>
                </nav>
                @if (Model != null) {
                    <table border="0">
                        <tr>
                            <th></th>
                            <th>Modelo</th>
                            <th>Origem</th>
                            <th>Destino</th>
                            <th>Partida</th>
                            <th>Reservados</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>   

                        @foreach(var voo in Model)
                        {            
                            <tr>    
                                <td>@Html.ActionLink("excluir","Excluir",new {vooId = voo.vooId})</td>
                                <td>@voo.aviaoModelo</td>
                                <td>@voo.cidadeOrigemNome</td>
                                <td>@voo.cidadeDestinoNome</td>
                                <td>@voo.partida</td>
                                <td>@voo.reservados/@voo.totalAssentos</td>                               
                                
                                @if (voo.promocional){
                                    <td>@Html.ActionLink("(*)  "+voo.preco.ToString(),"AlterarPreco",new {vooId = voo.vooId})</td>
                                }else{
                                    <td>@Html.ActionLink(voo.preco.ToString(),"AlterarPreco",new {vooId = voo.vooId})</td>
                                }                                
                                <td>@Html.ActionLink("Nova Reserva","NovaReserva",new {vooId = voo.vooId})</td>
                                <td>@Html.ActionLink("Reservas","Reservas",new {vooId = voo.vooId})</td>
                            </tr>        
                        }
                    </table>
                }
        </div>
    </section>
</div>
