<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Reserva</h1>
            </hgroup>
            <p>
                Nova Reserva
            </p>
            <form method="post" action="NovaReserva">
                <input type="hidden" name="vooId" value="@ViewBag.voo.vooId" />
                <input type="hidden" name="assentos" value="1" />
                @Html.Label("Voo ")
                @ViewBag.voo.aviaoModelo 
                @ViewBag.voo.cidadeOrigemNome
                @ViewBag.voo.cidadeDestinoNome
                @ViewBag.voo.partida

                @Html.Label("Cliente")
                @Html.DropDownList(
                    "clienteId", 
                    new SelectList(
                        ViewBag.clientes,
                        "clienteId", 
                        "nome"))

                <br><input type="submit" value="Salvar" />
            </form>
        </div>
    </section>
</div>
