@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Nova Reserva</h1>
            </hgroup>
            
            <form method="post" action="NovaReserva">
                    <fieldset>
                    <legend>Nova Reserva</legend>
          
                <input type="hidden" name="vooId" value="@ViewBag.voo.vooId" />
                <input type="hidden" name="quantidadeAssentos" value="@ViewBag.mapaAssentos.Count"/>
                
               <p> @Html.Label("Voo: ")
               @ViewBag.voo.aviaoModelo </p>
               <p> @Html.Label("Cidade de origem: ") @ViewBag.voo.cidadeOrigemNome</>
               <p> @Html.Label("Cidade de destino: ")@ViewBag.voo.cidadeDestinoNome</p>
               <p>@Html.Label("Parida: ") @ViewBag.voo.partida</p>

                @Html.Label("Cliente")
                @Html.DropDownList(
                    "clienteId", 
                    new SelectList(
                        ViewBag.clientes,
                        "clienteId", 
                        "nome"))
               <p> @foreach (AlphaNet.PassagemAerea.Aplicacao.Voos.Data.AssentoData assento in ViewBag.mapaAssentos)
                {
                    if (assento.reservado){
                        @Html.Raw("Assento: [" + assento.numero.ToString() + "]")
                    }else{
                        @Html.Raw("Assento:  [" + assento.numero.ToString() + "]")@Html.CheckBox( "chk" + assento.numero.ToString())
                    }
                }</p>
                <br><input type="submit" value="Salvar" />
</fieldset>
            </form>

             <a href="@Url.Action("Index","vOO")"><img src="~/Content/themes/base/images/voltar.png" id="bt-voltar" /></a>  
        </div>
    </section>
</div>
