@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 	<div id="conteudo">

         <div id="conteudo-central">
<div id="body">

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Reserva</h1>
            </hgroup>
         
            <form method="post" action="NovaReservaPessoal">
                <fieldset>
                    <legend>Nova Reserva</legend> 
          
                <input type="hidden" name="vooId" value="@ViewBag.voo.vooId" />
                <input type="hidden" name="quantidadeAssentos" value="@ViewBag.mapaAssentos.Count"/>
                <input type="hidden" name="clienteId" value="@ViewBag.clienteId"/>
                @Html.Label("Voo ")   
               <p> @Html.Label("Aeronave: ")
                @ViewBag.voo.aviaoModelo </p>
               <p> @Html.Label("Origem: ")
                @ViewBag.voo.cidadeOrigemNome</p>
               <p> @Html.Label("Destino: ")
                @ViewBag.voo.cidadeDestinoNome</p>
               <p>@Html.Label("Partida: ")
                @ViewBag.voo.partida</p>
               <p> @Html.Label("Cliente: ")
                @ViewBag.nome</p>
                <p>@Html.Label("E-mail: ")
                @ViewBag.email </p>   
               <div>@foreach (AlphaNet.PassagemAerea.Aplicacao.Voos.Data.AssentoData assento in ViewBag.mapaAssentos)
                {
                    if (assento.reservado){
                       <p id="assento-off"> @Html.Raw("[" + assento.numero.ToString() + "]")</p>
                    }else{
                       <p id="assento"> @Html.Raw(" [" + assento.numero.ToString() + "]")@Html.CheckBox( "chk" + assento.numero.ToString())</p>
                    }
                }</div>
                <div id="assentos-um"><input type="submit" value="Salvar" /></div>
                    </fieldset>
            </form>
        </div>
    </section>
</div>
</div>
         </div>