@model AlphaNet.PassagemAerea.Aplicacao.Voos.Data.VooData
@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<div id="body">
    <section class="featured">
       <p class="content-wrapper">
      
            <hgroup class="title">
                <h1>Reservas</h1>
            </hgroup>
           
          
        
          
                @if (Model != null)
                {    <fieldset>
                    <legend>Reserva</legend>
                    @Html.Label("Modelo: ")@Model.aviaoModelo<br />
                    @Html.Label("Origem: ")@Model.cidadeOrigemNome<br />
                    @Html.Label("Destino: ")@Model.cidadeDestinoNome<br />
                    @Html.Label("Partida: ")@Model.partida<br />
                    @Html.Label("Total de Assentos: ")@Model.totalAssentos<br />
                    @Html.Label("Assentos Reservados: ")@Model.reservados<br /><br />
         

                    
                <a href="@Url.Action("NovaReserva",new {vooId = Model.vooId})"><img src="~/Content/themes/base/images/nova_reserva.png" id="bt-nova-reserva"/></a>
                  
                     </fieldset>
          
                 
                    <table>

                 
                        @foreach(var reserva in Model.reservas())
                        {        <caption>Mapa de Assentos</caption> 
                            <tr>
                                <th>Cliente</th><th>Preço</th><th>Assentos</th><th>Excluir</th></tr>
                            <tr>
                                <td>@reserva.clienteNome</td>
                                <td>@reserva.preco</td>
                                <td>@reserva.assentos</td>    
                                <td><a href="@Url.Action("Cancelar",new {vooId = Model.vooId, clienteId = reserva.clienteId})"><img src="~/Content/themes/base/images/excluir.png" id="bt-excluir" /></a></td>                                                                
                            </tr>        
                        }  
                          
                    </table>
                     
                }

            <a href="@Url.Action("Index","vOO")"><img src="~/Content/themes/base/images/voltar.png" id="bt-voltar" /></a>  
        </div>
    </section>
</div>
