@model AlphaNet.PassagemAerea.Aplicacao.Voos.Data.VooData
@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Reservas</h1>
            </hgroup>
           
          

          
                @if (Model != null)
                {
                    <p>@Html.Label("Modelo: ")@Model.aviaoModelo</p>
                    <p>@Html.Label("Origem: ")@Model.cidadeOrigemNome</p>
                    <p>@Html.Label("Destino: ")@Model.cidadeDestinoNome</p>
                    <p>@Html.Label("Partida: ")@Model.partida</p>
                    <p>@Html.Label("Total de Assentos: ")@Model.totalAssentos</p>
                    <p>@Model.reservados</p>
         

                    
                 <div> <a href="@Url.Action("NovaReserva",new {vooId = Model.vooId})"><img src="~/Content/themes/base/images/nova_reserva.png" id="bt-nova-reserva"/></a></div>
                     
                   
                    
                    <table>

                         @*  POR QUE ESSE CÓDIGO?
                        <tr>
                            <th></th>
                            <th>Cliente</th>
                            <th>Preço</th>
                            <th>Assentos</th>
                        </tr>   
                    *@
                        @foreach(var reserva in Model.reservas())
                        {         
                            <tr>
                                <td>@Html.ActionLink("Cancelar","Cancelar",new {vooId = Model.vooId, clienteId = reserva.clienteId})</td>                                    
                                <td>@reserva.clienteNome</td>
                                <td>@reserva.preco</td>
                                <td>@reserva.assentos</td>                                
                            </tr>        
                        }  
                          
                    </table>
                    
                }

            <a href="@Url.Action("Index","vOO")"><img src="~/Content/themes/base/images/voltar.png" id="bt-voltar" /></a>  
        </div>
    </section>
</div>
