@model AlphaNet.PassagemAerea.Aplicacao.Voos.Data.VooData
@{
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<div id="body">
    <section class="featured">
       <p class="content-wrapper">
      <div id="conteudo">

         <div id="conteudo-central">
            <hgroup class="title">
                <h1>Reservas</h1>
            </hgroup>
           
          
        
          
                @if (Model != null)
                {    <fieldset>
                    <legend>Reserva</legend>
                    @Html.Label("Voo")
                  <p>@Html.Label("Modelo: ")@Model.aviaoModelo</p>
                   <p>@Html.Label("Origem: ")@Model.cidadeOrigemNome</p>
                   <p> @Html.Label("Destino: ")@Model.cidadeDestinoNome</p>
                   <p> @Html.Label("Partida: ")@Model.partida</p>
                   <p> @Html.Label("Total de Assentos: ")@Model.totalAssentos</p>
                   <p> @Html.Label("Assentos Reservados: ")@Model.reservados</p><br />
         

                    
               <a href="@Url.Action("NovaReserva",new {vooId = Model.vooId})"><img src="~/Content/themes/base/images/nova_reserva.png" id="bt-nova-reserva" border="0"/></a>
                  
                     </fieldset>
          
                 
                    <table>
                        <caption>Mapa de Assentos</caption>
                         <tr> 
                                <th>Cliente</th><th>Preço</th><th>Assentos</th><th>Excluir</th></tr>
                 
                        @foreach(var reserva in Model.reservas())
                        {                                   
                            <tr>
                                <td>@reserva.clienteNome</td>
                                <td>@reserva.preco.ToString("C")</td>
                                <td>@reserva.assentos</td>    
                                <td><a href="@Url.Action("Cancelar",new {vooId = Model.vooId, clienteId = reserva.clienteId})"><img src="~/Content/themes/base/images/excluir.png" id="bt-excluir" /></a></td>                                                                
                            </tr>        
                        }  
                          
                    </table>
                     
                }

            <a href="@Url.Action("Index","vOO")"><img src="~/Content/themes/base/images/voltar.png" id="bt-voltar" /></a>  
        </div>
    </section>
    </div>
</div>