@model IEnumerable<AlphaNet.PassagemAerea.Aplicacao.Voos.Data.VooReservaData>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Reservas</h1>
            </hgroup>
                @if (Model != null) {
                    <table border="0">
                        <tr>
                            <th></th>
                            <th>Modelo</th>
                            <th>Origem</th>
                            <th>Destino</th>
                            <th>Partida</th>
                            <th>Assentos</th>
                            <th>Preço</th>
                        </tr>   

                        @foreach(var voo in Model)
                        {            
                            <tr>                                
                                <td><a href="@Url.Action("CancelarReservaPessoal", new { vooId = voo.vooId, clienteId = voo.clienteId })"><img src="~/Content/themes/base/images/excluir.png" id="bt-excluir" /></a></td>
                                <td>@voo.aviaoModelo</td>
                                <td>@voo.cidadeOrigemNome</td>
                                <td>@voo.cidadeDestinoNome</td>
                                <td>@voo.partida</td>
                                <td>@voo.assentosReservados</td>
                                <td>@voo.precoReserva</td>
                            </tr>        
                        }
                    </table>
                }
        </div>
    </section>
</div>
