@model IEnumerable<AlphaNet.PassagemAerea.Aplicacao.Voos.Data.VooData>
@{
    ViewBag.Title = "Alphanet - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    function mostrar() {
        document.getElementById('resultado').style.visibility = false;
    }
</script>

    <div id="conteudo">
        <div id="conteudo_central">
            <div id="div-absolute">
<div class="form-busca">
<div id="titulo">PESQUISA RÁPIDA</div>
    
  <form name="form2" method="post">
  <ol>
    @*<li><label><input type="radio" name="radio" id="idavolta" value="idavolta" checked="@Request["radio"]">Ida e volta</label></li>
    <li><label><input type="radio" name="radio" id="ida" value="ida" checked="@Request["radio"]">Somente ida</label></li>*@
    <li><label>@Html.RadioButton("radio", "idavolta", Request["idavolta"])Ida e Volta</label></li>
    <li><label>@Html.RadioButton("radio","ida", Request["ida"])Somente ida</label></li>
    <li>  <label>Origem: 
        @Html.DropDownList(
            "origem", 
            new SelectList(
                ViewBag.cidades, 
                "cidadeId", 
                "nome"))
    </label></li>
     <li>  <label>Destino: 
        @Html.DropDownList(
            "destino", 
            new SelectList(
                ViewBag.cidades, 
                "cidadeId", 
                "nome"))</label>     

     </li>
      <li><label>Partida:</label> <input type="text" name="partida" id="partida" value="@DateTime.Today.ToShortDateString()"/></li> 
      <li><label>Retorno: </label> <input type="text" name="retorno" id="retorno" value="@DateTime.Today.AddDays(1).ToShortDateString()"/></li> 
      <li><label> No. passagens:</label><input type="text" name="assentos" id="assentos" value="@Request["assentos"]" size="4" /></li>
      <li><p><input type="submit" name="button" id="button" value="Pesquisar" onclick="mostrar();"></p></li>
  </ol>
  </form>




</div>

@if (Model != null) {
    if (Model.Count() > 0){
        <div id="resultado" >
            <table border="0" >
                <caption>Lista de Voos</caption>
                <tr>
                    @*<th>Modelo</th>
                    <th>Origem</th>
                    <th>Destino</th>*@
                    <th>Partida</th>
                    <th>Reservados</th>
                    <th>Preço</th>
                    <th>Nova Reserva</th>
                </tr>   

                @foreach(var voo in Model)
                {            
                    <tr>
                       @* <td>@voo.aviaoModelo</td>
                        <td>@voo.cidadeOrigemNome</td>
                        <td>@voo.cidadeDestinoNome</td>*@
                        <td>@voo.partida</td>
                        <td>@voo.reservados/@voo.totalAssentos</td>     
                        <td>@voo.preco.ToString()</td>
                        <td><a href="@Url.Action("NovaReservaPessoal","Voo",new {vooId = voo.vooId})"><img src="~/Content/themes/base/images/nova_reserva.png" id="bt-nova-reserva" border="0"/></a></td>
                    </tr>        
                }
            </table>
        </div>
    }
}
                </div>

<div id="banner"><img src="/Content/themes/base/images/banner2.jpg"></div>

</div>
        </div>

<script>
    $(function () {
        var spinner = $("#assentos").spinner({ min: 1, max: 999 });
    });
</script>

<script type="text/javascript">
    $(function () {
        $("[id$=partida]").datepicker({
            //changeMonth: true,
            //changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
        });
        $("[id$=retorno]").datepicker({
            //changeMonth: true,
            //changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
        });
    });
    </script>
