@model AlphaNet.PassagemAerea.IU.Models.Contato
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Contato";
}

	<div id="conteudo">

         <div id="conteudo-central">

@using (Html.BeginForm("Index", "Contato"))
        {
            @Html.AntiForgeryToken()
            
           <fieldset>
              <legend>Contato</legend>

                <ul id="aform"> 
 	
            @Html.ValidationSummary(false)
             @* <p>
             @Html.LabelFor(a => a.nome)
             @Html.TextBoxFor(a => a.nome)</p>

             <p>
             @Html.LabelFor(a => a.email)
             @Html.TextBoxFor(a => a.email)</p>

             <p>
             @Html.LabelFor(a => a.telefone)
             @Html.TextBoxFor(a => a.telefone)</p>

             <p>
             @Html.LabelFor(a => a.cidade)
             @Html.TextBoxFor(a => a.cidade)</p>

             <p>
             @Html.LabelFor(a => a.uf)
             @Html.TextBoxFor(a => a.uf)</p>

             <p>
             @Html.LabelFor(a => a.assunto)
             @Html.TextBoxFor(a => a.assunto)</p>

             <p>
             @Html.LabelFor(a => a.observacao)
             @Html.TextAreaFor(a => a.observacao)</p>*@


               <li> 
               @Html.LabelFor(model => model.nome)
               @Html.EditorFor(model => model.nome)
               @Html.ValidationMessageFor(model => model.nome)</li>

               <li> 
               @Html.LabelFor(model => model.email)
               @Html.EditorFor(model => model.email)
               @Html.ValidationMessageFor(model => model.email)</li>

               <li> 
               @Html.LabelFor(model => model.telefone)
               @Html.EditorFor(model => model.telefone)
               @Html.ValidationMessageFor(model => model.telefone)</li>

               <li> 
               @Html.LabelFor(model => model.cidade)
               @Html.EditorFor(model => model.cidade)
               @Html.ValidationMessageFor(model => model.cidade)</li>

               <li> 
               @Html.LabelFor(model => model.uf)
               @Html.EditorFor(model => model.uf)
               @Html.ValidationMessageFor(model => model.uf)</li>

               <li> 
               @Html.LabelFor(model => model.assunto)
               @Html.EditorFor(model => model.assunto)
               @Html.ValidationMessageFor(model => model.assunto)</li>

               <li> 
               @Html.LabelFor(model => model.observacao)
               @Html.EditorFor(model => model.observacao)
               @Html.ValidationMessageFor(model => model.observacao)</li>

            </ul>
             <input type="hidden" id="email" value="fcaairlines@gmail.com" />
            <p> <input type="submit" id="enviar" value="Enviar" /></p>

   
              </fieldset> }
             </div>

             </div>