
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Alphanet</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")





</head>
<body>


<div id="container">

<div id="top">
<div id="logo"><a href="@Url.Action("Index","Home")"><img src="/Content/themes/base/images/logo_fca.png" alt="Alphanet" border="0" ></a></div>

<div id="login">
    <div class="form-login"> 
        @if (Session["login"]!=null){
            @Html.Label("Usuário: " + Session["login"])
            <form name="form1" method="post" action="@Url.Action("Logoff","Login")">                
               <ul>
                   <li><input type="submit" name="Logoff" value="Sair"></li>
                    <li>    @Html.ActionLink("Administrativo","Index_adm","Home")
                    </li>
                </ul>
            </form>
            
        }else{
            <form name="form1" method="post" action="@Url.Action("Login","Login")">
                <ul>
                    <li> <label>Login: <input name="login" type="text" size="4"></label>  </li>
                    <li> <label>Senha: <input name="senha" type="text" size="4"></label></li>
                    <li> <input type="submit" name="Login" value="OK"> </li> 
                </ul>
        </form>
            
        }
    </div>  
</div>




 @*   
<div id="nav">


    <div id="home"><a href="@Url.Action("Index","Home")"><img src="/Content/themes/base/images/home.png" border="0"></a></div>
<div id="institucional"><a href="@Url.Action("Index","Institucional")"><img src="/Content/themes/base/images/institucional.png" border="0"></a></div>
<div id="voeja"><a href="@Url.Action("IndexPessoal","Voo")"><img src="/Content/themes/base/images/voeja.png" border="0"></a></div>
<div id="reservas"><a href="@Url.Action("MostrarReservasClienteLogado","Voo")"><img src="/Content/themes/base/images/reservas.png" border="0"></a></div>
<div id="cadastre"><a href="@Url.Action("Index","CadastreSe")"><img src="/Content/themes/base/images/cadastre.png" border="0"></a></div>
<div id="dicas"><a href="@Url.Action("Index","Dicas")"><img src="/Content/themes/base/images/dicas.png" border="0"></a></div>
<div id="contato"><a href="@Url.Action("Index","Contato")"><img src="/Content/themes/base/images/contato.png" border="0"></a></div>
<div id="facebook"><a href="#"><img src="/Content/themes/base/images/facebook.png" border="0"></a></div>
<div id="twitter"><a href="#"><img src="/Content/themes/base/images/twitter.png" border="0"></a></div>
<div id="youtube"><a href="#"><img src="/Content/themes/base/images/youtube.png" border="0"></a></div>

</div>
*@
   <div id="nav">


<div class="botao">@Html.ActionLink("HOME","Index","Home")</div>
<div class="botao">@Html.ActionLink("INSTITUCIONAL","Index","Institucional")</div>
<div class="botao">@Html.ActionLink("VOE JÁ","IndexPessoal","Voo")</div>
<div class="botao">@Html.ActionLink("RESERVA","MostrarReservasClienteLogado","Voo")</div>
<div class="botao">@Html.ActionLink("CADASTRE-SE","Index","CadastreSe")</div>
<div class="botao">@Html.ActionLink("DICAS","Index","Dicas")</div>

</div> 



    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)



<div id="rodape">
<div id="desenvolvimento"><img src="/Content/themes/base/images/desenvolvimento.png" ></div>
<div id="direitos">Todos os Direitos Reservados</div>
</div>
</div>

    </div>
</body>
</html>

