

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Alphanet</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")





</head>
<body>


<div id="container">

<div id="top">
<div id="logo_adm"><a href="index.asp"><img src="/Content/themes/base/images/logo_alphanet.png" alt="Alphanet" border="0" ></a></div>

 <div class="form-login"> 
        @if (Session["login"]!=null){
            @Html.Label("usuario:" + Session["login"])
            <form name="form1" method="post" action="@Url.Action("Logoff","Login")">
                <input type="submit" name="Logoff" value="Sair">
            </form>
        }else{
            <form name="form1" method="post" action="@Url.Action("Login","Login")">
                <ul>
                    <li> <label>Login: <input name="login" type="text" size="6"></label>  </li>
                    <li> <label>Senha: <input name="senha" type="text" size="6"></label></li>
                    <li> <input type="submit" name="Login" value="OK"> </li> 
                    <li>@ViewBag.msgAutenticacao</li>
                </ul>
        </form>
            
        }
    </div>  
</div>


<div id="fca"><img src="/Content/themes/base/images/fca.png"></div>
  


    </div>

<div id="nav">

<div id="usuarios"><a href="@Url.Action("Index", "Usuario")"><img src="/Content/themes/base/images/usuarios.png" border="0"></a></div>
<div id="aviao"><a href="@Url.Action("Index","Aviao")"><img src="/Content/themes/base/images/aviao.png" border="0"></a></div>
<div id="cliente"><a href="@Url.Action("Index","Cliente")"><img src="/Content/themes/base/images/cliente.png" border="0"></a></div>
<div id="voo"><a href="@Url.Action("Index","Voo")"><img src="/Content/themes/base/images/voo.png" border="0"></a></div>
<div id="cidade"><a href="@Url.Action("Index","Cidade")"><img src="/Content/themes/base/images/cidade.png" border="0"></a></div>
<div id="relatorios"><a href="@Url.Action("Index","Relatorios")"><img src="/Content/themes/base/images/relatorios.png" border="0"></a></div>
</div>


 <div id="conteudo">

<div id="conteudo-central">

    @RenderBody()

</div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)



<div id="rodape">
<div id="rodape-texto">Desenvolvimento de Sistemas Web</div>
</div>


</body>
</html>
